* {
  font-size: inherit;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
  color: #383838;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  font-family: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ol,
ul {
  margin: 0;
}

li {
  list-style: default;
}

input {
  /* -webkit-appearance: none; */
}

input[type='text'] {
  ime-mode: desativated;
}

input[type='passwrod'] {
  ime-mode: auto;
}

/* remove chrome autocomplete bgc */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input:focus {
  outline: 0 none;
}

button {
  border: none;
  outline: none;
}

button:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
}
